*.o
.deps/
*.a
.dirstamp
Makefile
autom4te.cache
config.log
config.status
include/config.h
include/stamp-h1
libtool
po/Makefile.in
po/POTFILES
src/hw_cpu/gen68k
src/mednafen

/Makefile.in
/src/*/Makefile.in
/src/Makefile.in

aclocal.m4
config.cache
configure
compile
depcomp
install-sh
missing
stamp-h1

po/*.gmo
po/remove-potcdate.sed
